/* Dashboard.css */

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/interieur.jpg') no-repeat center center fixed;
    background-size: cover; /* L'image de fond couvre toute la page */
    padding: 20px;
    color: #fff;
}

.dashboard-wrapper h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.dashboard-wrapper ul {
    list-style: none;
    padding: 0;
}

.dashboard-wrapper li {
    margin: 10px 0;
    font-size: 18px;
}

/* Ajoutez cette règle pour appliquer uniquement à l'élément wrapper de Dashboard */
.dashboard-page .dashboard-wrapper {
    background: url('../assets/interieur.jpg') no-repeat center center fixed;
    background-size: cover;
}