@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    align-content: center;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../assets/portfolio_db.jpg') no-repeat;
    background-size: cover;
}

code{
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, .2);
    margin: 0 auto;
    display: flex;
    top: 50px;
    flex-direction: column;
    align-items: center; /* Centrage horizontal */
    justify-content: center; /* Centrage vertical */
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.logo {
    width: 50px; /* Taille du logo */
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-button {
    background-color: #2d063a;
    color: #ffb200;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
}

.nav-button:hover {
    background-color: #4b226c;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}



.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}

.button {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
}

.button:hover {
    background: #f0f0f0;
}

.register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    font-weight: 600;
}

/* Mobile responsive styles */
@media (max-width: 600px) {
    .wrapper {
        width: 90%;
        padding: 20px;
    }

    .input-box input {
        font-size: 14px;
    }

    .button {
        font-size: 14px;
    }

    h1 {
        font-size: 28px;
    }
}